
/*
 * VARIABLES
 */

// FONTS

$sans-serif: 'Lato', sans-serif;
$serif: 'Vollkorn', serif;

// COLORS

@import 'util/reset';
@import 'jeet/index';
// @include edit;


/* -----------------------------------
 * --typography
 * ----------------------------------- */
h1{
    font-family: $serif;
    font-size:4em;
    font-style: italic;
    color: #fff;
}

/* -----------------------------------
 * --layout
 * ----------------------------------- */

.travel-container{
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    position: relative;
}

.full-height{
    height: 100%;
}
section{
    padding: 40px 0;
}

/* positioning */
.caption-bottom{
    position: absolute;
    bottom: 100px;
    left: 0;
}
.right-aligned{}

/* -----------------------------------
 * --header
 * ----------------------------------- */
.site-header{
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.logo a{
    background:#000;
    text-decoration: none;
    padding: 20px 20px 16px;
    display: inline-block;

    span{
        color: #fff;
        border-top: 3px solid #fff;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
    }
}

/* -----------------------------------
 * --captions
 * ----------------------------------- */


/* -----------------------------------
 * --images
 * ----------------------------------- */
.image-container img{
    width: 100%;
    height: auto;
}

.full-width-image{
    position: relative;
}





